/* https://kuler.adobe.com/Raster-color-theme-4129011 */
col1 = #D82F4E
col2 = #212f59
col3 = #1A6C8C
col4 = #F2E4BC
col5 = #F2877D

body-bg-color = #000
body-fg-color = #fff

content-bg-color = #fff
content-fg-color = #000